-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: cuboidpolit_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ai_configs`
--

DROP TABLE IF EXISTS `ai_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ai_configs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `ai_name` varchar(100) DEFAULT 'Cai',
  `tone` enum('professional','friendly','casual','custom') DEFAULT 'professional',
  `primary_objective` enum('generate_leads','book_appointments','sales','customer_support','qualification','custom') DEFAULT 'generate_leads',
  `info_to_collect_json` longtext DEFAULT NULL,
  `custom_instructions` text DEFAULT NULL,
  `qualification_rules_json` longtext DEFAULT NULL,
  `appointment_instructions` text DEFAULT NULL,
  `payment_instructions` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_id` (`company_id`),
  KEY `idx_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ai_summaries`
--

DROP TABLE IF EXISTS `ai_summaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ai_summaries` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `conversation_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `summary_text` text NOT NULL,
  `key_points_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`key_points_json`)),
  `recommended_action` varchar(255) NOT NULL,
  `generated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ais_company` (`company_id`),
  KEY `idx_ais_lead` (`lead_id`),
  KEY `fk_ais_conv` (`conversation_id`),
  CONSTRAINT `fk_ais_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ais_conv` FOREIGN KEY (`conversation_id`) REFERENCES `conversations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ai_usage`
--

DROP TABLE IF EXISTS `ai_usage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ai_usage` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `provider` varchar(50) NOT NULL DEFAULT 'gemini',
  `model` varchar(100) NOT NULL DEFAULT 'gemini-1.5-flash',
  `prompt_tokens` int(11) NOT NULL DEFAULT 0,
  `completion_tokens` int(11) NOT NULL DEFAULT 0,
  `latency_ms` int(11) NOT NULL DEFAULT 0,
  `estimated_cost_usd` decimal(10,6) NOT NULL DEFAULT 0.000000,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_aiu_company` (`company_id`),
  CONSTRAINT `fk_aiu_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `alert_logs`
--

DROP TABLE IF EXISTS `alert_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `alert_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `alert_type` varchar(100) NOT NULL,
  `recipient` varchar(100) NOT NULL,
  `recipient_type` enum('sales_agent','admin','customer') NOT NULL DEFAULT 'sales_agent',
  `channel` varchar(30) NOT NULL DEFAULT 'whatsapp',
  `content_preview` varchar(255) DEFAULT NULL,
  `sent_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_comp_lead_type` (`company_id`,`lead_id`,`alert_type`),
  KEY `idx_sent_at` (`sent_at`)
) ENGINE=InnoDB AUTO_INCREMENT=153 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `appointment_activities`
--

DROP TABLE IF EXISTS `appointment_activities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointment_activities` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `appointment_id` int(11) NOT NULL,
  `company_id` int(11) NOT NULL,
  `action` varchar(64) NOT NULL,
  `actor_type` enum('customer','admin','system','ai') NOT NULL DEFAULT 'system',
  `actor_name` varchar(150) DEFAULT NULL,
  `channel` varchar(32) NOT NULL DEFAULT 'web',
  `details` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_act_appt` (`appointment_id`),
  KEY `idx_act_comp` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `visitor_id` int(11) DEFAULT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `assigned_user_id` int(11) DEFAULT NULL,
  `calendar_integration_id` int(11) DEFAULT NULL,
  `customer_name` varchar(150) DEFAULT NULL,
  `customer_phone` varchar(50) DEFAULT NULL,
  `customer_email` varchar(150) DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `appointment_type` varchar(100) DEFAULT 'consultation',
  `appointment_date` date DEFAULT NULL,
  `start_time` time DEFAULT NULL,
  `end_time` time DEFAULT NULL,
  `timezone` varchar(50) NOT NULL DEFAULT 'Asia/Kolkata',
  `slot_datetime` datetime NOT NULL,
  `status` enum('scheduled','rescheduled','completed','cancelled','no_show') NOT NULL DEFAULT 'scheduled',
  `action_token` varchar(64) DEFAULT NULL,
  `created_channel` varchar(50) NOT NULL DEFAULT 'web',
  `notes` text DEFAULT NULL,
  `meet_link` varchar(255) DEFAULT NULL,
  `calendar_event_id` varchar(255) DEFAULT NULL,
  `meeting_link` varchar(255) DEFAULT NULL,
  `google_event_id` varchar(255) DEFAULT NULL,
  `gcal_sync_status` enum('none','synced','failed') NOT NULL DEFAULT 'none',
  `gcal_sync_error` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company` (`company_id`),
  KEY `idx_customer` (`customer_id`),
  KEY `idx_lead` (`lead_id`),
  KEY `idx_action_token` (`action_token`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  `action` varchar(100) NOT NULL,
  `target_type` varchar(100) DEFAULT NULL,
  `target_id` int(11) DEFAULT NULL,
  `details_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`details_json`)),
  `ip_address` varchar(50) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_al_company` (`company_id`),
  KEY `idx_al_user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=193 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `automation_executions`
--

DROP TABLE IF EXISTS `automation_executions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `automation_executions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `automation_id` int(11) NOT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `session_id` varchar(64) DEFAULT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `trigger_type` varchar(100) NOT NULL,
  `status` enum('running','waiting','completed','failed','paused') NOT NULL DEFAULT 'running',
  `current_node_id` varchar(100) DEFAULT NULL,
  `completed_nodes_json` longtext DEFAULT NULL,
  `variables_json` longtext DEFAULT NULL,
  `error_details` text DEFAULT NULL,
  `is_simulation` tinyint(1) NOT NULL DEFAULT 0,
  `started_at` datetime DEFAULT current_timestamp(),
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_comp_status` (`company_id`,`status`),
  KEY `idx_session` (`session_id`),
  KEY `idx_automation` (`automation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `automation_logs`
--

DROP TABLE IF EXISTS `automation_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `automation_logs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `execution_id` bigint(20) NOT NULL,
  `company_id` int(11) NOT NULL,
  `automation_id` int(11) NOT NULL,
  `node_id` varchar(100) NOT NULL,
  `node_type` varchar(100) NOT NULL,
  `node_title` varchar(255) DEFAULT NULL,
  `status` enum('success','failed','waiting','skipped') NOT NULL DEFAULT 'success',
  `input_data_json` longtext DEFAULT NULL,
  `output_data_json` longtext DEFAULT NULL,
  `duration_ms` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_exec` (`execution_id`),
  KEY `idx_comp` (`company_id`,`automation_id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `automations`
--

DROP TABLE IF EXISTS `automations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `automations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `name` varchar(200) NOT NULL,
  `description` text DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'active',
  `trigger_event` varchar(100) NOT NULL,
  `action_type` varchar(100) NOT NULL,
  `wait_minutes` int(11) NOT NULL DEFAULT 0,
  `condition_key` varchar(100) DEFAULT NULL,
  `condition_value` varchar(100) DEFAULT NULL,
  `secondary_action` varchar(100) DEFAULT NULL,
  `workflow_data` longtext DEFAULT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `trigger_type` varchar(100) NOT NULL DEFAULT 'chat_start',
  `execution_count` int(11) NOT NULL DEFAULT 0,
  `last_executed_at` datetime DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_auto_company` (`company_id`),
  CONSTRAINT `fk_auto_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `blogs`
--

DROP TABLE IF EXISTS `blogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blogs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) DEFAULT 0,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `excerpt` text DEFAULT NULL,
  `content` longtext NOT NULL,
  `cover_image` varchar(500) DEFAULT NULL,
  `author_name` varchar(100) DEFAULT 'Ayush',
  `author_role` varchar(100) DEFAULT 'Founder & AI Architect',
  `author_avatar` varchar(500) DEFAULT NULL,
  `category` varchar(100) DEFAULT 'AI & Product Updates',
  `tags` varchar(255) DEFAULT 'Cai, AI Agents, Helpdesk, Automation',
  `meta_title` varchar(255) DEFAULT NULL,
  `meta_description` text DEFAULT NULL,
  `status` enum('published','draft') DEFAULT 'published',
  `views_count` int(11) DEFAULT 148,
  `published_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `idx_slug` (`slug`),
  KEY `idx_status` (`status`),
  KEY `idx_published` (`published_at`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `channel_consents`
--

DROP TABLE IF EXISTS `channel_consents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `channel_consents` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `channel` varchar(32) NOT NULL,
  `consent_type` varchar(64) NOT NULL,
  `consent_status` enum('granted','revoked') NOT NULL DEFAULT 'granted',
  `consent_source` varchar(64) NOT NULL DEFAULT 'website_widget',
  `consent_text_version` varchar(32) NOT NULL DEFAULT 'v1',
  `handoff_token` varchar(32) DEFAULT NULL,
  `granted_at` datetime DEFAULT current_timestamp(),
  `revoked_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_cust_consent` (`company_id`,`customer_id`,`channel`,`consent_type`),
  KEY `idx_handoff_token` (`handoff_token`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `channel_handoffs`
--

DROP TABLE IF EXISTS `channel_handoffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `channel_handoffs` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `journey_id` bigint(20) NOT NULL,
  `conversation_id` int(11) NOT NULL,
  `source_channel` varchar(32) NOT NULL DEFAULT 'web',
  `target_channel` varchar(32) NOT NULL,
  `handoff_token` varchar(32) NOT NULL,
  `status` enum('pending','completed','expired') NOT NULL DEFAULT 'pending',
  `expires_at` datetime NOT NULL,
  `completed_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `handoff_token` (`handoff_token`),
  KEY `idx_token` (`handoff_token`),
  KEY `idx_comp_journey` (`company_id`,`journey_id`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `companies`
--

DROP TABLE IF EXISTS `companies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `companies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uuid` varchar(64) NOT NULL,
  `name` varchar(150) NOT NULL,
  `logo_url` varchar(255) DEFAULT NULL,
  `logo_dark_url` varchar(255) DEFAULT NULL,
  `logo_light_url` varchar(255) DEFAULT NULL,
  `slug` varchar(150) NOT NULL,
  `company_key` varchar(64) NOT NULL,
  `industry` varchar(100) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `country` varchar(50) NOT NULL DEFAULT 'India',
  `currency` varchar(10) NOT NULL DEFAULT 'INR',
  `timezone` varchar(50) NOT NULL DEFAULT 'Asia/Kolkata',
  `plan_id` int(11) DEFAULT NULL,
  `status` enum('active','trial','suspended','cancelled') NOT NULL DEFAULT 'trial',
  `onboarding_completed` tinyint(1) NOT NULL DEFAULT 0,
  `whatsapp_connected` tinyint(1) NOT NULL DEFAULT 0,
  `trial_started_at` datetime DEFAULT NULL,
  `trial_ends_at` datetime DEFAULT NULL,
  `plan_tier` varchar(50) DEFAULT 'free_trial',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uuid` (`uuid`),
  UNIQUE KEY `slug` (`slug`),
  UNIQUE KEY `company_key` (`company_key`),
  KEY `idx_company_key` (`company_key`),
  KEY `idx_plan_id` (`plan_id`),
  CONSTRAINT `fk_companies_plan` FOREIGN KEY (`plan_id`) REFERENCES `plans` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=47 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_assets`
--

DROP TABLE IF EXISTS `company_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_assets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `category` varchar(64) NOT NULL DEFAULT 'document',
  `description` text DEFAULT NULL,
  `keywords` text DEFAULT NULL,
  `file_name` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size` int(11) DEFAULT 0,
  `file_type` varchar(100) DEFAULT 'application/pdf',
  `download_count` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company_asset` (`company_id`,`is_active`),
  KEY `idx_asset_category` (`company_id`,`category`),
  CONSTRAINT `fk_asset_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_calendar_configs`
--

DROP TABLE IF EXISTS `company_calendar_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_calendar_configs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `provider` varchar(50) NOT NULL DEFAULT 'google_calendar',
  `google_calendar_id` varchar(255) NOT NULL DEFAULT 'primary',
  `google_client_id` varchar(255) DEFAULT NULL,
  `google_client_secret_encrypted` text DEFAULT NULL,
  `google_refresh_token_encrypted` text DEFAULT NULL,
  `google_access_token_encrypted` text DEFAULT NULL,
  `google_token_expires_at` datetime DEFAULT NULL,
  `working_days` varchar(50) NOT NULL DEFAULT '1,2,3,4,5,6',
  `working_hours_start` time NOT NULL DEFAULT '09:00:00',
  `working_hours_end` time NOT NULL DEFAULT '18:00:00',
  `slot_duration_minutes` int(11) NOT NULL DEFAULT 30,
  `buffer_before_minutes` int(11) NOT NULL DEFAULT 0,
  `buffer_after_minutes` int(11) NOT NULL DEFAULT 10,
  `min_booking_notice_hours` int(11) NOT NULL DEFAULT 2,
  `max_advance_booking_days` int(11) NOT NULL DEFAULT 14,
  `timezone` varchar(50) NOT NULL DEFAULT 'Asia/Kolkata',
  `meeting_title_template` varchar(200) NOT NULL DEFAULT 'Consultation: {customer_name}',
  `meeting_description_template` text DEFAULT NULL,
  `is_connected` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_id` (`company_id`),
  KEY `idx_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_custom_fields`
--

DROP TABLE IF EXISTS `company_custom_fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_custom_fields` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `field_key` varchar(64) NOT NULL,
  `field_label` varchar(100) NOT NULL,
  `field_type` enum('text','number','select','date') DEFAULT 'text',
  `options_json` text DEFAULT NULL,
  `is_required` tinyint(1) DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_comp_key` (`company_id`,`field_key`)
) ENGINE=InnoDB AUTO_INCREMENT=616 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_email_configs`
--

DROP TABLE IF EXISTS `company_email_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_email_configs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `sender_name` varchar(150) NOT NULL,
  `sender_email` varchar(150) NOT NULL,
  `smtp_host` varchar(150) NOT NULL,
  `smtp_port` int(11) NOT NULL DEFAULT 587,
  `smtp_username` varchar(150) NOT NULL,
  `smtp_password_encrypted` text NOT NULL,
  `encryption_type` enum('tls','ssl','none') NOT NULL DEFAULT 'tls',
  `reply_to_email` varchar(150) DEFAULT NULL,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  `last_tested_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_id` (`company_id`),
  KEY `idx_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_instagram_configs`
--

DROP TABLE IF EXISTS `company_instagram_configs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_instagram_configs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `page_id` varchar(100) DEFAULT NULL,
  `instagram_account_id` varchar(100) DEFAULT NULL,
  `instagram_username` varchar(100) DEFAULT NULL,
  `access_token_encrypted` text DEFAULT NULL,
  `app_secret_encrypted` text DEFAULT NULL,
  `webhook_verify_token` varchar(100) DEFAULT NULL,
  `status` enum('connected','disconnected','pending') NOT NULL DEFAULT 'disconnected',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_id` (`company_id`),
  KEY `idx_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `company_integrations`
--

DROP TABLE IF EXISTS `company_integrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `company_integrations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `channel_key` varchar(50) NOT NULL,
  `provider_name` varchar(100) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 0,
  `status` enum('connected','disconnected','error','pending') NOT NULL DEFAULT 'disconnected',
  `auth_type` varchar(50) DEFAULT 'api_key',
  `credentials` text DEFAULT NULL,
  `settings` text DEFAULT NULL,
  `last_synced_at` datetime DEFAULT NULL,
  `last_tested_at` datetime DEFAULT NULL,
  `error_message` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_company_channel` (`company_id`,`channel_key`),
  KEY `idx_company_active` (`company_id`,`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `conversations`
--

DROP TABLE IF EXISTS `conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conversations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `visitor_session_id` int(11) DEFAULT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `channel` varchar(50) NOT NULL DEFAULT 'web',
  `status` enum('ai_handling','human_requested','human_active','closed','resolved') NOT NULL DEFAULT 'ai_handling',
  `ownership` enum('ai','human') NOT NULL DEFAULT 'ai',
  `quick_action_token` varchar(64) DEFAULT NULL,
  `assigned_user_id` int(11) DEFAULT NULL,
  `unread_human` tinyint(1) NOT NULL DEFAULT 0,
  `closure_reason` varchar(100) DEFAULT NULL,
  `closed_at` datetime DEFAULT NULL,
  `last_message_preview` text DEFAULT NULL,
  `last_message_at` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_conv_company` (`company_id`),
  KEY `idx_conv_customer` (`customer_id`),
  KEY `idx_conv_assigned` (`assigned_user_id`),
  KEY `idx_conv_comp_status` (`company_id`,`status`),
  KEY `idx_quick_action_token` (`quick_action_token`),
  CONSTRAINT `fk_conv_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_conv_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_conv_user` FOREIGN KEY (`assigned_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=327 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customer_channel_identities`
--

DROP TABLE IF EXISTS `customer_channel_identities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_channel_identities` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `channel` enum('web','whatsapp','instagram','email','phone') NOT NULL,
  `external_user_id` varchar(128) NOT NULL,
  `external_account_id` varchar(128) DEFAULT NULL,
  `phone` varchar(64) DEFAULT NULL,
  `email` varchar(128) DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_company_channel_user` (`company_id`,`channel`,`external_user_id`),
  KEY `idx_customer` (`customer_id`),
  KEY `idx_comp_channel` (`company_id`,`channel`)
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customer_journeys`
--

DROP TABLE IF EXISTS `customer_journeys`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_journeys` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `state` varchar(64) NOT NULL DEFAULT 'NEW',
  `current_channel` varchar(32) NOT NULL DEFAULT 'web',
  `previous_channel` varchar(32) DEFAULT NULL,
  `pending_action` varchar(64) DEFAULT NULL,
  `pending_asset_id` int(11) DEFAULT NULL,
  `assigned_user_id` int(11) DEFAULT NULL,
  `conversation_summary` text DEFAULT NULL,
  `last_activity_at` datetime DEFAULT current_timestamp(),
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_comp_cust` (`company_id`,`customer_id`),
  KEY `idx_comp_conv` (`company_id`,`conversation_id`),
  KEY `idx_lead` (`lead_id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_uuid` varchar(64) NOT NULL,
  `name` varchar(150) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `whatsapp_number` varchar(30) DEFAULT NULL,
  `whatsapp_opt_in` tinyint(1) NOT NULL DEFAULT 0,
  `city` varchar(100) DEFAULT NULL,
  `preferred_language` varchar(20) NOT NULL DEFAULT 'hinglish',
  `notes` text DEFAULT NULL,
  `first_seen_at` datetime NOT NULL DEFAULT current_timestamp(),
  `last_seen_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `customer_uuid` (`customer_uuid`),
  KEY `idx_cust_company` (`company_id`),
  KEY `idx_cust_phone` (`phone`),
  KEY `idx_cust_whatsapp` (`whatsapp_number`),
  CONSTRAINT `fk_cust_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `feature_entitlements`
--

DROP TABLE IF EXISTS `feature_entitlements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `feature_entitlements` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `feature_key` varchar(100) NOT NULL,
  `is_enabled` tinyint(1) NOT NULL DEFAULT 1,
  `limit_value` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_company_feature` (`company_id`,`feature_key`),
  KEY `idx_feat_company` (`company_id`),
  CONSTRAINT `fk_feat_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `human_handoffs`
--

DROP TABLE IF EXISTS `human_handoffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `human_handoffs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) NOT NULL,
  `conversation_id` int(11) NOT NULL,
  `requested_by` enum('visitor','ai_rule','manual_trigger') NOT NULL,
  `reason` varchar(255) NOT NULL,
  `assigned_to_user_id` int(11) DEFAULT NULL,
  `status` enum('pending','accepted','in_progress','completed') NOT NULL DEFAULT 'pending',
  `response_time_seconds` int(11) DEFAULT NULL,
  `call_completed_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_hh_company` (`company_id`),
  KEY `idx_hh_lead` (`lead_id`),
  KEY `fk_hh_conv` (`conversation_id`),
  CONSTRAINT `fk_hh_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_hh_conv` FOREIGN KEY (`conversation_id`) REFERENCES `conversations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_hh_lead` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `instagram_handoffs`
--

DROP TABLE IF EXISTS `instagram_handoffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `instagram_handoffs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `handoff_token` varchar(64) NOT NULL,
  `session_id` varchar(64) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `web_conversation_id` int(11) NOT NULL,
  `status` enum('pending','claimed','expired') NOT NULL DEFAULT 'pending',
  `created_at` datetime DEFAULT current_timestamp(),
  `claimed_at` datetime DEFAULT NULL,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `handoff_token` (`handoff_token`),
  KEY `idx_token` (`handoff_token`),
  KEY `idx_company` (`company_id`),
  KEY `idx_session` (`session_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `installments`
--

DROP TABLE IF EXISTS `installments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `installments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `customer_id` int(11) NOT NULL,
  `payment_id` int(11) DEFAULT NULL,
  `installment_number` int(11) NOT NULL DEFAULT 1,
  `title` varchar(150) NOT NULL,
  `amount_inr` int(11) NOT NULL,
  `due_date` date NOT NULL,
  `status` enum('upcoming','pending','paid','overdue','cancelled') NOT NULL DEFAULT 'upcoming',
  `paid_at` datetime DEFAULT NULL,
  `reminder_days_before` int(11) NOT NULL DEFAULT 4,
  `reminder_sent_at` datetime DEFAULT NULL,
  `reminder_status` enum('none','scheduled','sent','delayed','acknowledged') NOT NULL DEFAULT 'none',
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company` (`company_id`),
  KEY `idx_customer` (`customer_id`),
  KEY `idx_lead` (`lead_id`),
  KEY `idx_due_date` (`due_date`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `intent_scores`
--

DROP TABLE IF EXISTS `intent_scores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `intent_scores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) NOT NULL,
  `commercial_intent_score` int(11) NOT NULL DEFAULT 50,
  `urgency_score` int(11) NOT NULL DEFAULT 50,
  `budget_score` int(11) NOT NULL DEFAULT 50,
  `calculated_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_is_company` (`company_id`),
  KEY `idx_is_lead` (`lead_id`),
  CONSTRAINT `fk_is_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_is_lead` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `queue` varchar(50) NOT NULL DEFAULT 'default',
  `payload_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload_json`)),
  `attempts` int(11) NOT NULL DEFAULT 0,
  `available_at` datetime NOT NULL DEFAULT current_timestamp(),
  `status` enum('pending','processing','completed','failed') NOT NULL DEFAULT 'pending',
  `error_message` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_job_status` (`status`,`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `knowledge_sources`
--

DROP TABLE IF EXISTS `knowledge_sources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `knowledge_sources` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `type` enum('faq','website_url','text_doc','policy','ai_instruction') NOT NULL DEFAULT 'faq',
  `source_url` varchar(255) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `category` varchar(100) DEFAULT 'General',
  `content` longtext NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ks_company` (`company_id`),
  KEY `idx_ks_comp_active` (`company_id`,`is_active`),
  CONSTRAINT `fk_ks_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lead_artifacts`
--

DROP TABLE IF EXISTS `lead_artifacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lead_artifacts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `customer_name` varchar(150) DEFAULT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `company_name` varchar(150) DEFAULT NULL,
  `requirement` text DEFAULT NULL,
  `interested_service` varchar(200) DEFAULT NULL,
  `budget` varchar(100) DEFAULT NULL,
  `timeline` varchar(100) DEFAULT NULL,
  `location` varchar(100) DEFAULT NULL,
  `intent` varchar(50) DEFAULT 'general',
  `current_stage` varchar(50) DEFAULT 'NEW',
  `buying_signals_json` longtext DEFAULT NULL,
  `objections_json` longtext DEFAULT NULL,
  `missing_information_json` longtext DEFAULT NULL,
  `conversation_summary` text DEFAULT NULL,
  `priority` varchar(20) DEFAULT 'LOW',
  `lead_score` int(11) DEFAULT 0,
  `priority_reason` text DEFAULT NULL,
  `recommended_action` text DEFAULT NULL,
  `assigned_salesperson_id` int(11) DEFAULT NULL,
  `preferred_channel` varchar(30) DEFAULT 'website',
  `ai_confidence` varchar(20) DEFAULT 'HIGH',
  `human_attention_status` varchar(50) DEFAULT 'none',
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company` (`company_id`),
  KEY `idx_lead` (`lead_id`),
  KEY `idx_customer` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=174 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lead_custom_field_values`
--

DROP TABLE IF EXISTS `lead_custom_field_values`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lead_custom_field_values` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) NOT NULL,
  `field_id` int(11) NOT NULL,
  `field_value` text DEFAULT NULL,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_lead_field` (`lead_id`,`field_id`),
  KEY `idx_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lead_events`
--

DROP TABLE IF EXISTS `lead_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lead_events` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `event_type` varchar(64) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `event_data_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`event_data_json`)),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_le_company` (`company_id`),
  KEY `idx_le_lead` (`lead_id`),
  KEY `idx_le_cust` (`customer_id`),
  KEY `idx_le_type` (`event_type`),
  CONSTRAINT `fk_le_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_le_lead` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=375 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lead_scoring_rules`
--

DROP TABLE IF EXISTS `lead_scoring_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lead_scoring_rules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `signal_type` varchar(50) NOT NULL,
  `condition_value` varchar(100) DEFAULT NULL,
  `score_delta` int(11) NOT NULL DEFAULT 10,
  `description` varchar(255) NOT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company_signal` (`company_id`,`signal_type`)
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lead_stage_history`
--

DROP TABLE IF EXISTS `lead_stage_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lead_stage_history` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) NOT NULL,
  `from_stage_id` int(11) DEFAULT NULL,
  `to_stage_id` int(11) NOT NULL,
  `changed_by_user_id` int(11) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_lsh_company` (`company_id`),
  KEY `idx_lsh_lead` (`lead_id`),
  CONSTRAINT `fk_lsh_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_lsh_lead` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `leads`
--

DROP TABLE IF EXISTS `leads`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leads` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `visitor_id` int(11) DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `opportunity_value` int(11) NOT NULL DEFAULT 0,
  `total_amount` int(11) DEFAULT 0,
  `payment_type` enum('ONE_TIME','INSTALLMENT') DEFAULT 'ONE_TIME',
  `paid_amount` int(11) DEFAULT 0,
  `remaining_amount` int(11) DEFAULT 0,
  `next_due_date` date DEFAULT NULL,
  `commercial_status` enum('PENDING','PARTIAL','PAID','FAILED','OVERDUE') DEFAULT 'PENDING',
  `stage_id` int(11) DEFAULT NULL,
  `stage_name` varchar(50) DEFAULT 'NEW',
  `intent_level` enum('low','medium','high','urgent') NOT NULL DEFAULT 'medium',
  `priority` enum('LOW','MEDIUM','HIGH','URGENT') DEFAULT 'LOW',
  `is_radar_active` tinyint(1) NOT NULL DEFAULT 0,
  `human_attention_required` tinyint(1) DEFAULT 0,
  `human_attention_reason` text DEFAULT NULL,
  `human_attention_at` datetime DEFAULT NULL,
  `radar_reason` text DEFAULT NULL,
  `ai_summary` text DEFAULT NULL,
  `radar_recommended_action` varchar(255) DEFAULT NULL,
  `is_revenue_at_risk` tinyint(1) NOT NULL DEFAULT 0,
  `risk_category` varchar(100) DEFAULT NULL,
  `risk_amount` int(11) NOT NULL DEFAULT 0,
  `assigned_user_id` int(11) DEFAULT NULL,
  `source` varchar(100) NOT NULL DEFAULT 'Ask Anything Widget',
  `landing_page` varchar(255) DEFAULT NULL,
  `utm_source` varchar(100) DEFAULT NULL,
  `utm_medium` varchar(100) DEFAULT NULL,
  `utm_campaign` varchar(100) DEFAULT NULL,
  `intent` varchar(255) DEFAULT NULL,
  `status` enum('open','won','lost') NOT NULL DEFAULT 'open',
  `last_activity_at` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_lead_company` (`company_id`),
  KEY `idx_lead_cust` (`customer_id`),
  KEY `idx_lead_stage` (`stage_id`),
  KEY `idx_lead_radar` (`is_radar_active`),
  KEY `idx_lead_risk` (`is_revenue_at_risk`),
  KEY `fk_lead_user` (`assigned_user_id`),
  KEY `idx_lead_comp_status` (`company_id`,`status`),
  KEY `idx_lead_comp_prio_status` (`company_id`,`priority`,`status`),
  CONSTRAINT `fk_lead_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_lead_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_lead_stage` FOREIGN KEY (`stage_id`) REFERENCES `pipeline_stages` (`id`) ON DELETE SET NULL,
  CONSTRAINT `fk_lead_user` FOREIGN KEY (`assigned_user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=203 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `messages`
--

DROP TABLE IF EXISTS `messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `channel` varchar(50) NOT NULL DEFAULT 'web',
  `conversation_id` int(11) NOT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `sender_type` enum('visitor','ai','human','system') NOT NULL,
  `sender_id` int(11) DEFAULT NULL,
  `message_text` text NOT NULL,
  `detected_intent` varchar(100) DEFAULT NULL,
  `detected_objection` varchar(100) DEFAULT NULL,
  `metadata_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata_json`)),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_msg_company` (`company_id`),
  KEY `idx_msg_conv` (`conversation_id`),
  KEY `idx_msg_comp_conv` (`company_id`,`conversation_id`),
  CONSTRAINT `fk_msg_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_msg_conv` FOREIGN KEY (`conversation_id`) REFERENCES `conversations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=829 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notification_recipients`
--

DROP TABLE IF EXISTS `notification_recipients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_recipients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `name` varchar(150) NOT NULL,
  `phone` varchar(30) NOT NULL,
  `email` varchar(150) DEFAULT NULL,
  `role` varchar(100) NOT NULL DEFAULT 'Sales Closer',
  `categories_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`categories_json`)),
  `reporting_frequency` enum('instant','hourly','daily') NOT NULL DEFAULT 'instant',
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_nr_company` (`company_id`),
  CONSTRAINT `fk_nr_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `notification_rules`
--

DROP TABLE IF EXISTS `notification_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notification_rules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `event_category` varchar(100) NOT NULL,
  `recipient_id` int(11) NOT NULL,
  `condition_type` varchar(100) NOT NULL DEFAULT 'any',
  `condition_value` varchar(100) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_nrule_company` (`company_id`),
  KEY `idx_nrule_recipient` (`recipient_id`),
  CONSTRAINT `fk_nrule_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_nrule_recipient` FOREIGN KEY (`recipient_id`) REFERENCES `notification_recipients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `objections`
--

DROP TABLE IF EXISTS `objections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `objections` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `lead_id` int(11) NOT NULL,
  `category` varchar(100) NOT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('active','handled','waived') NOT NULL DEFAULT 'active',
  `detected_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_obj_company` (`company_id`),
  KEY `idx_obj_lead` (`lead_id`),
  CONSTRAINT `fk_obj_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_obj_lead` FOREIGN KEY (`lead_id`) REFERENCES `leads` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payment_events`
--

DROP TABLE IF EXISTS `payment_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_events` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `payment_id` int(11) NOT NULL,
  `event_name` varchar(100) NOT NULL,
  `raw_payload_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`raw_payload_json`)),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pe_pay` (`payment_id`),
  CONSTRAINT `fk_pe_pay` FOREIGN KEY (`payment_id`) REFERENCES `payments` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payment_plans`
--

DROP TABLE IF EXISTS `payment_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_plans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `product_id` int(11) DEFAULT NULL,
  `variant_id` int(11) DEFAULT NULL,
  `plan_type` enum('FULL','EMI','SUBSCRIPTION') NOT NULL DEFAULT 'FULL',
  `total_amount` int(11) NOT NULL DEFAULT 0,
  `discount_amount` int(11) NOT NULL DEFAULT 0,
  `final_amount` int(11) NOT NULL DEFAULT 0,
  `down_payment` int(11) NOT NULL DEFAULT 0,
  `paid_amount` int(11) NOT NULL DEFAULT 0,
  `remaining_amount` int(11) NOT NULL DEFAULT 0,
  `num_installments` int(11) NOT NULL DEFAULT 1,
  `status` enum('DRAFT','ACCEPTED','PARTIALLY_PAID','PAID','OVERDUE','CANCELLED') NOT NULL DEFAULT 'DRAFT',
  `payment_gateway` varchar(50) DEFAULT 'razorpay',
  `payment_link_url` varchar(255) DEFAULT NULL,
  `next_due_date` date DEFAULT NULL,
  `metadata_json` longtext DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pp_company_cust` (`company_id`,`customer_id`),
  KEY `idx_pp_lead` (`lead_id`),
  KEY `idx_pp_status` (`status`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payment_requests`
--

DROP TABLE IF EXISTS `payment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `request_code` varchar(50) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `item_type` enum('course','product','service','custom') NOT NULL DEFAULT 'course',
  `item_title` varchar(200) NOT NULL,
  `amount_inr` int(11) NOT NULL DEFAULT 0,
  `customer_name` varchar(150) NOT NULL,
  `customer_email` varchar(150) NOT NULL,
  `customer_phone` varchar(30) NOT NULL,
  `status` enum('pending','completed','cancelled') NOT NULL DEFAULT 'pending',
  `payment_method` varchar(50) DEFAULT 'upi',
  `transaction_reference` varchar(100) DEFAULT NULL,
  `confirmation_token` varchar(64) DEFAULT NULL,
  `confirmed_by_user_id` int(11) DEFAULT NULL,
  `confirmed_at` datetime DEFAULT NULL,
  `receipt_sent_at` datetime DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `request_code` (`request_code`),
  KEY `idx_pr_company_status` (`company_id`,`status`),
  KEY `idx_pr_code` (`request_code`),
  KEY `idx_pr_customer` (`customer_id`),
  KEY `idx_pr_lead` (`lead_id`),
  KEY `idx_pr_token` (`confirmation_token`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `razorpay_order_id` varchar(100) DEFAULT NULL,
  `razorpay_payment_id` varchar(100) DEFAULT NULL,
  `amount_inr` int(11) NOT NULL DEFAULT 0,
  `currency` varchar(10) NOT NULL DEFAULT 'INR',
  `status` enum('created','link_opened','paid','failed','expired') NOT NULL DEFAULT 'created',
  `payment_link_url` varchar(255) DEFAULT NULL,
  `failure_reason` varchar(255) DEFAULT NULL,
  `paid_at` datetime DEFAULT NULL,
  `expires_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pay_company` (`company_id`),
  KEY `idx_pay_cust` (`customer_id`),
  KEY `idx_pay_lead` (`lead_id`),
  CONSTRAINT `fk_pay_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_pay_cust` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `pipeline_stages`
--

DROP TABLE IF EXISTS `pipeline_stages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pipeline_stages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `slug` varchar(100) NOT NULL,
  `stage_order` int(11) NOT NULL DEFAULT 0,
  `color_code` varchar(20) NOT NULL DEFAULT '#4F46E5',
  `is_default` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `idx_stage_company` (`company_id`),
  CONSTRAINT `fk_stage_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=228 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `plans`
--

DROP TABLE IF EXISTS `plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `plans` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `price_monthly_inr` int(11) NOT NULL DEFAULT 0,
  `price_annual_inr` int(11) NOT NULL DEFAULT 0,
  `ai_conversations_limit` int(11) NOT NULL DEFAULT 500,
  `whatsapp_alerts_limit` int(11) NOT NULL DEFAULT 200,
  `team_members_limit` int(11) NOT NULL DEFAULT 3,
  `features_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`features_json`)),
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `product_variants`
--

DROP TABLE IF EXISTS `product_variants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `product_variants` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `product_id` int(11) NOT NULL,
  `name` varchar(150) NOT NULL,
  `price_inr` int(11) NOT NULL DEFAULT 0,
  `original_price_inr` int(11) NOT NULL DEFAULT 0,
  `duration` varchar(100) DEFAULT NULL,
  `features_json` longtext DEFAULT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pv_company_prod` (`company_id`,`product_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `products`
--

DROP TABLE IF EXISTS `products`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `name` varchar(200) NOT NULL,
  `sku` varchar(100) DEFAULT NULL,
  `price_inr` int(11) NOT NULL DEFAULT 0,
  `emi_available` tinyint(1) NOT NULL DEFAULT 1,
  `emi_starting_at_inr` int(11) NOT NULL DEFAULT 0,
  `description` text DEFAULT NULL,
  `payment_url` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `category` varchar(50) NOT NULL DEFAULT 'service',
  `subcategory` varchar(100) DEFAULT NULL,
  `duration` varchar(100) DEFAULT NULL,
  `original_price_inr` int(11) NOT NULL DEFAULT 0,
  `discount_percent` int(11) NOT NULL DEFAULT 0,
  `currency` varchar(10) NOT NULL DEFAULT 'INR',
  `features_json` longtext DEFAULT NULL,
  `deliverables_json` longtext DEFAULT NULL,
  `prerequisites` text DEFAULT NULL,
  `target_audience` varchar(255) DEFAULT NULL,
  `emi_plans_json` longtext DEFAULT NULL,
  `max_discount_allowed_percent` int(11) NOT NULL DEFAULT 10,
  `brochure_asset_id` int(11) DEFAULT NULL,
  `thumbnail_url` varchar(255) DEFAULT NULL,
  `faq_json` longtext DEFAULT NULL,
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_prod_company` (`company_id`),
  CONSTRAINT `fk_prod_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `reminders`
--

DROP TABLE IF EXISTS `reminders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reminders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) NOT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `installment_id` int(11) DEFAULT NULL,
  `reminder_type` enum('AUTOMATED_INSTALLMENT','MANUAL_COLLECTION','RENEWAL_UPSELL','PROMISE_TO_PAY') NOT NULL DEFAULT 'AUTOMATED_INSTALLMENT',
  `title` varchar(200) NOT NULL,
  `message_template` text DEFAULT NULL,
  `amount_inr` int(11) NOT NULL DEFAULT 0,
  `due_date` date DEFAULT NULL,
  `scheduled_at` datetime DEFAULT NULL,
  `repeat_frequency` enum('NONE','DAILY','WEEKLY','MONTHLY','QUARTERLY') NOT NULL DEFAULT 'NONE',
  `channels` varchar(100) NOT NULL DEFAULT 'whatsapp',
  `promise_to_pay_date` date DEFAULT NULL,
  `status` enum('PENDING','SENT','DELAYED','PROMISED','RESOLVED','CANCELLED') NOT NULL DEFAULT 'PENDING',
  `sent_at` datetime DEFAULT NULL,
  `created_by_user_id` int(11) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_rem_company_status` (`company_id`,`status`),
  KEY `idx_rem_due` (`due_date`),
  KEY `idx_rem_inst` (`installment_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subscriptions`
--

DROP TABLE IF EXISTS `subscriptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subscriptions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `plan_id` int(11) NOT NULL,
  `status` enum('active','trial','past_due','cancelled') NOT NULL DEFAULT 'trial',
  `current_period_start` datetime NOT NULL,
  `current_period_end` datetime NOT NULL,
  `razorpay_subscription_id` varchar(100) DEFAULT NULL,
  `amount_inr` int(11) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sub_company` (`company_id`),
  KEY `fk_sub_plan` (`plan_id`),
  CONSTRAINT `fk_sub_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sub_plan` FOREIGN KEY (`plan_id`) REFERENCES `plans` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `support_tickets`
--

DROP TABLE IF EXISTS `support_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `support_tickets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `subject` varchar(255) NOT NULL,
  `priority` enum('low','medium','high','urgent') NOT NULL DEFAULT 'medium',
  `status` enum('open','investigating','resolved','closed') NOT NULL DEFAULT 'open',
  `message` text NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_st_company` (`company_id`),
  CONSTRAINT `fk_st_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `team_invitations`
--

DROP TABLE IF EXISTS `team_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `team_invitations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `invited_by_user_id` int(11) NOT NULL,
  `email` varchar(150) NOT NULL,
  `role` enum('owner','admin','manager','sales_agent') NOT NULL DEFAULT 'sales_agent',
  `invitation_token` varchar(64) NOT NULL,
  `status` enum('pending','accepted','expired','revoked') NOT NULL DEFAULT 'pending',
  `expires_at` datetime NOT NULL,
  `accepted_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `invitation_token` (`invitation_token`),
  KEY `idx_company` (`company_id`),
  KEY `idx_token` (`invitation_token`),
  KEY `idx_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `uuid` varchar(64) NOT NULL,
  `company_id` int(11) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `role` enum('super_admin','owner','admin','manager','sales_agent','support_agent','agent') NOT NULL DEFAULT 'sales_agent',
  `job_title` varchar(100) DEFAULT 'Consultant',
  `department` enum('sales','support','technical','general') DEFAULT 'sales',
  `availability_status` enum('AVAILABLE','BUSY','OFFLINE','APPOINTMENT_ONLY') DEFAULT 'AVAILABLE',
  `is_instant_help_enabled` tinyint(1) DEFAULT 1,
  `is_appointment_enabled` tinyint(1) DEFAULT 1,
  `is_super_admin` tinyint(1) NOT NULL DEFAULT 0,
  `avatar_url` varchar(255) DEFAULT NULL,
  `linkedin_url` varchar(255) DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `last_login_at` datetime DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uuid` (`uuid`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_users_company` (`company_id`),
  KEY `idx_users_email` (`email`),
  CONSTRAINT `fk_users_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `visitor_sessions`
--

DROP TABLE IF EXISTS `visitor_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `visitor_sessions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `visitor_id` int(11) DEFAULT NULL,
  `session_token` varchar(64) NOT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `channel` varchar(50) NOT NULL DEFAULT 'web',
  `ip_address` varchar(50) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `referrer` varchar(255) DEFAULT NULL,
  `landing_page` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `session_token` (`session_token`),
  UNIQUE KEY `idx_vs_session_id` (`session_id`),
  KEY `idx_sess_company` (`company_id`),
  KEY `idx_sess_customer` (`customer_id`),
  CONSTRAINT `fk_sess_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_sess_customer` FOREIGN KEY (`customer_id`) REFERENCES `customers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `webhook_events`
--

DROP TABLE IF EXISTS `webhook_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `webhook_events` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `provider` varchar(50) NOT NULL,
  `event_name` varchar(100) NOT NULL,
  `payload_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`payload_json`)),
  `is_processed` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_we_provider` (`provider`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `whatsapp_accounts`
--

DROP TABLE IF EXISTS `whatsapp_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `whatsapp_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `phone_number_id` varchar(100) DEFAULT NULL,
  `waba_id` varchar(100) DEFAULT NULL,
  `display_number` varchar(30) NOT NULL,
  `whatsapp_access_token` text DEFAULT NULL,
  `app_secret` varchar(255) DEFAULT NULL,
  `webhook_verify_token` varchar(100) DEFAULT NULL,
  `status` enum('connected','disconnected','simulated') NOT NULL DEFAULT 'simulated',
  `quality_rating` varchar(20) NOT NULL DEFAULT 'GREEN',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_wa_company` (`company_id`),
  CONSTRAINT `fk_wa_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `whatsapp_handoffs`
--

DROP TABLE IF EXISTS `whatsapp_handoffs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `whatsapp_handoffs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `handoff_token` varchar(64) NOT NULL,
  `session_id` varchar(64) DEFAULT NULL,
  `customer_id` int(11) NOT NULL,
  `visitor_id` int(11) DEFAULT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `web_conversation_id` int(11) NOT NULL,
  `phone` varchar(30) DEFAULT NULL,
  `whatsapp_contact_id` varchar(100) DEFAULT NULL,
  `status` enum('pending','claimed','expired') NOT NULL DEFAULT 'pending',
  `created_at` datetime DEFAULT current_timestamp(),
  `claimed_at` datetime DEFAULT NULL,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `handoff_token` (`handoff_token`),
  KEY `idx_token` (`handoff_token`),
  KEY `idx_company` (`company_id`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `whatsapp_messages`
--

DROP TABLE IF EXISTS `whatsapp_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `whatsapp_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `recipient_phone` varchar(30) NOT NULL,
  `recipient_name` varchar(150) DEFAULT NULL,
  `message_type` enum('human_alert','radar_alert','risk_alert','summary','customer_message') NOT NULL,
  `template_name` varchar(100) DEFAULT NULL,
  `content` text NOT NULL,
  `status` enum('queued','sent','delivered','read','failed') NOT NULL DEFAULT 'sent',
  `metadata_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`metadata_json`)),
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_wm_company` (`company_id`),
  KEY `idx_wm_phone` (`recipient_phone`),
  CONSTRAINT `fk_wm_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `widget_payments`
--

DROP TABLE IF EXISTS `widget_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `widget_payments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `customer_id` int(11) DEFAULT NULL,
  `lead_id` int(11) DEFAULT NULL,
  `conversation_id` int(11) DEFAULT NULL,
  `payment_method` enum('razorpay','bank_transfer','invoice','custom') DEFAULT 'razorpay',
  `amount_inr` int(11) NOT NULL,
  `currency` varchar(10) DEFAULT 'INR',
  `transaction_reference` varchar(100) DEFAULT NULL,
  `status` enum('pending','verified','failed') DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_company` (`company_id`),
  KEY `idx_customer` (`customer_id`),
  KEY `idx_lead` (`lead_id`),
  KEY `idx_ref` (`transaction_reference`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `widget_settings`
--

DROP TABLE IF EXISTS `widget_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `widget_settings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `company_id` int(11) NOT NULL,
  `brand_name` varchar(100) NOT NULL,
  `assistant_name` varchar(100) DEFAULT 'Cai',
  `logo_url` varchar(255) DEFAULT NULL,
  `logo_dark_url` varchar(255) DEFAULT NULL,
  `logo_light_url` varchar(255) DEFAULT NULL,
  `accent_color` varchar(20) NOT NULL DEFAULT '#059669',
  `theme_mode` varchar(20) DEFAULT 'dark',
  `greeting_heading` varchar(255) NOT NULL DEFAULT 'Ask anything about our pricing, plans or EMI',
  `greeting_subheading` varchar(255) NOT NULL DEFAULT 'Instant answers powered by CuboidPolit AI',
  `position` enum('bottom_right','bottom_left') NOT NULL DEFAULT 'bottom_right',
  `enable_whatsapp_continue` tinyint(1) NOT NULL DEFAULT 1,
  `enable_appointments` tinyint(1) DEFAULT 1,
  `calendar_working_days` varchar(50) DEFAULT '1,2,3,4,5,6',
  `calendar_start_time` varchar(10) DEFAULT '10:00',
  `calendar_end_time` varchar(10) DEFAULT '18:00',
  `calendar_slot_duration` int(11) DEFAULT 30,
  `calendar_buffer_minutes` int(11) DEFAULT 0,
  `calendar_advance_days` int(11) DEFAULT 7,
  `calendar_meet_url` varchar(255) DEFAULT 'https://meet.google.com/cp-consult',
  `calendar_provider` varchar(50) DEFAULT 'native',
  `calendar_api_key` varchar(255) DEFAULT NULL,
  `calendar_booking_url` varchar(255) DEFAULT NULL,
  `calendar_webhook_url` varchar(255) DEFAULT NULL,
  `calendar_sync_enabled` tinyint(1) DEFAULT 1,
  `google_calendar_id` varchar(255) DEFAULT NULL,
  `google_client_id` varchar(255) DEFAULT NULL,
  `google_client_secret` varchar(255) DEFAULT NULL,
  `google_refresh_token` text DEFAULT NULL,
  `google_access_token` text DEFAULT NULL,
  `google_token_expires_at` datetime DEFAULT NULL,
  `enable_human_help` tinyint(1) DEFAULT 1,
  `enable_payments` tinyint(1) DEFAULT 1,
  `razorpay_key_id` varchar(100) DEFAULT NULL,
  `razorpay_key_secret` varchar(100) DEFAULT NULL,
  `bank_name` varchar(100) DEFAULT NULL,
  `bank_account_holder` varchar(100) DEFAULT NULL,
  `bank_account_no` varchar(50) DEFAULT NULL,
  `bank_ifsc` varchar(20) DEFAULT NULL,
  `bank_upi_id` varchar(50) DEFAULT NULL,
  `bank_qr_url` varchar(255) DEFAULT NULL,
  `whatsapp_number` varchar(30) DEFAULT NULL,
  `require_phone_for_pricing` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `linkedin_ayush` varchar(255) DEFAULT 'https://linkedin.com/in/ayushman-varma',
  `linkedin_cai` varchar(255) DEFAULT 'https://linkedin.com/company/cuboidpilot',
  `linkedin_cuboidsoft` varchar(255) DEFAULT 'https://linkedin.com/company/cuboidsoft',
  PRIMARY KEY (`id`),
  UNIQUE KEY `company_id` (`company_id`),
  CONSTRAINT `fk_ws_company` FOREIGN KEY (`company_id`) REFERENCES `companies` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping routines for database 'cuboidpolit_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-10-08  9:55:49
